.home-container {
  min-height: 100vh ;
}

.home-main-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.home-container-star-btn {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-main-container-btn {
  border-radius: 5px;
  width: 100px;
  padding: 1vh;
  font-weight: 700;
  background-color: #aa33b5ff;
  border: none;
}

@media screen and (min-width : 768px) {
  .home-main-container-btn {
    width: 130px;
    font-size: 1em;
  }

  .home-main-container-btn {
    font-size: 0.8em;
    width: 100px;
  }
}

@media screen and (min-width : 1024px) {
  .home-main-container {
    margin-top: 0;
  }

  .home-container-star-btn {
    flex-direction: row;
    width: 70%;
    font-size: 0.8em;
  }

  .home-main-container-btn {
    width: 90px;
    font-size: 1em;
  }
}

@media screen and (min-width : 1440px) {
  .home-container-star-btn {
    font-size: 1em;
  }

  .home-main-container-btn {
    width: 110px;
  }
}
